language: php

sudo: false

cache:
  directories:
    - $HOME/.composer/cache/files

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - nightly
  - hhvm

env:
  matrix:
    - COMPOSER_PARAM="update --prefer-source --prefer-lowest"
    - COMPOSER_PARAM="update --prefer-source"
    - COMPOSER_PARAM="install --prefer-source"

before_script:
  - which git
  - git --version
  - which svn
  - svn --version
  - composer selfupdate
  - composer $COMPOSER_PARAM

script:
  - phpunit --coverage-clover=coverage.clover

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover

matrix:
  allow_failures:
    - php: hhvm
    - php: nightly
